@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");
.container {
  width: 500px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

body {
  background-color: #FCF3CF;
  font-family: 'Franklin Gothic Medium';
  font-size: larger;
  line-height: normal
}

h1 {
  color: 3C5186;
  font-size: larger;
  line-height: normal
}

h2 {
  color: 9B72AA(53, 24, 134);
  font-size:xx-large;
  line-height:normal
}

h3 {
  color: rgb(12, 5, 5);
  font-size: large;
  line-height: normal
}

a {
  color: teal
}

a:hover {
  color: tomato
}

/* Custom design with class (99% of your design) */
.container {
  width: 700px;
  margin: 40px auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.card {
  background-color: white;
  padding: 20px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 30px;
  margin: 20px 0px;
  text-align: center;
}
.img {
  border-radius: 100%;
}
.btn-blue {
  background-color: #6B72E1;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
}
.btn-blue:hover {
  background-color: rgb(20, 100, 0);
  color: rgb(247, 240, 236);
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 80px;
  color: rgb(35, 131, 51);
}
.list-inline i:hover {
  color: black;
}

/* Design adjustments using id (1% design remaining) */
#introduction p {
  margin-bottom: 30px;
}
